cache/
secret_stuff/
imagecache/
env/
geminicache/
openaicache/
overlays/
.env
rising-waters-468020-c6-00ecbcb713e3.json
__pycache__/
.DS_Store
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
.coverage.*
**/__pycache__/
sshprivate.key
sshpublic.pub
connect.sh

done_ideas.txt
next_ideas.txt